* {
  box-sizing: border-box !important;
}
.container-fluid {
  height: 100vh;
  overflow: hidden;
}
.header, .header i{
  color: tomato;
}
.tomato-rounded {
  font-size: calc(1rem + 1vw);
  border: 1px solid tomato;
  border-radius: 50%;
  padding: 2% 3%;
}

dialog {
  width: 70vw;
  padding: 5%;
  max-width: 800px;
}
.reddit-card {
  height: 100vh;
}

.subreddit-item a{
  text-decoration: none !important;
  color: black ;
  display: block;
  padding: 1% 0;
}
.subreddit-item{
  border-bottom: 1px solid tomato;
}

a:hover {
  color: tomato !important;
  font-size: 1.1rem;
}

.dropdown{
  position: relative !important;
}
#dropdown-menu {
  position: absolute; 
  background: #f8f9fa;
  padding: 10px;
  z-index: 1000;
  right: 0;
  border-radius: 10px;
}
.dropdown-item:hover{
  color: black !important;
}
.subreddit-item:visited{
  color: purple !important;
}